/*
 *  ==============================================================================
 *  File: App.css
 *  Project: client
 *  File Created: Sunday, 12th December 2021 9:00:41 pm
 *  Author: Dillon Koch
 *  -----
 *  Last Modified: Friday, 17th December 2021 5:13:54 pm
 *  Modified By: Dillon Koch
 *  -----
 * 
 *  -----
 *  CSS for Popquiznotes
 *  ==============================================================================
 */

.header {
  border-color: blue;
  border-style: solid;
  /* margin-left: max(300px, 15%); */
  text-align: center;
}

.notes {
  margin-left: max(300px, 15%);
  top: 0%;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  margin-bottom: 200px;
}

.notes hr {
  height: 3px;
  background-color: rgb(0, 136, 255);
}

.quiz {
  margin-left: max(300px, 15%);
  top: 0%;
  border-style: solid;
  border-color: rgb(255, 255, 255);
}

.sidebar {
  width: max(300px, 15%);
  position: fixed;
}

.sidebar button {
  border: none;
  color: black;
  background-color: white;
  font-size: 14px;
}

.concept {
  font-size: 15px;
  width: 90%;
  max-width: 90%;
  outline: none;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  background-color: rgb(179, 255, 241);
  resize: none;
}

.note {
  width: 90%;
  max-width: 90%;
  margin-left: 50px;
  font-size: 15px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: solid;
  border-bottom-color: rgb(181, 186, 182);
  outline: none;
  resize: none;
}

.question {
  font-size: 15px;
  width: 90%;
  max-width: 90%;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: solid;
  border-bottom-color: rgb(59, 134, 253);
  outline: none;
  resize: none;
  color: rgb(100, 100, 100)
}

.answer {
  width: 90%;
  max-width: 90%;
  margin-left: 50px;
  font-size: 15px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: solid;
  border-bottom-color: rgb(181, 186, 182);
  outline: none;
  resize: none;
}

.sidebarheader {
  font-size: 40px;
  color: rgb(51, 181, 179);
}

.katex {
  background-color: rgb(240, 240, 240);
  margin-left: 50px;
  width: 90%;
}

.img {
  margin-left: 50px;
  max-width: 90%;
  max-height: 350px;
}

.indent1 {
  margin-left: 0px;
}

.indent2 {
  margin-left: 50px;
}

.indent3 {
  margin-left: 100px;
}

.indent4 {
  margin-left: 150px;
}

.indent5 {
  margin-left: 200px;
}

.indent6 {
  margin-left: 250px;
}

/* ! QUIZ STUFF */

.quiz {
  margin-bottom: 200px;
}

.quiz h1 {
  font-size: 26px;
}

.quiz h2 {
  color: gray;
}

.quizanswer p {
  font-size: 18px;
}

.katexanswer {
  font-size: 22px;
}
